/* ---------------- CSS Reset Rules ----------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: top;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* --------------- General Page Styles ---------------- */
html {
  height: 100%;
  line-height: 1.2;
  user-select: none;
  background-color: #00a0c5;
  background-image: linear-gradient(to top, #1a936f, #009b9a, #00a0c5, #009fe5, #6d99f2);
}

body {
  max-width: 910px;
  margin: 80px auto auto;
}

/* --------------------- Header ----------------------- */
header {
  display: flex;
}

.logo {
  font-size: 54px;
  font-family: 'Frijole', cursive;
}

.game-stats {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-size: 18px;
}

.gems {
  color: #E9E6F2;
}

.timer {
  color: #262C4C;
}

.hearts {
  color: #CC3333;
}

.timer, .hearts {
  margin-left: 16px;
}

.timer-value, .gems-value {
  font-family: 'Press Start 2P', cursive;
}

/* ------------------ Game Container ------------------ */
.game-container {
  position: absolute;
  top: 110px;
}

/* ----------- Instructions & Results Screens --------- */
.game-instructions, .game-results {
  position: absolute;
  top: 330px;
  left: 0;
  right: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 24px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: #FFFFFF;
  transition: opacity 1s;
  user-select: none;
}

.game-instructions-disabled, .game-results-disabled {
  opacity: 0;
}

.instructions-title, .results-title {
  font-size: 32px;
}

.instructions-content, .results-stats {
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  margin-top: 14px;
}

.results-stats {
  display: flex;
  justify-content: space-around;
}

.results-score-label, .results-gems-label {
  color: gray;
}

.instructions-start, .results-restart {
  margin-top: 10px;
}
